.image-container {
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: bolder;
  font-size: 22px;
}

li {
  font-family: 'Courier New', Courier, monospace;
}

.subsection-info {
  font-family: 'Courier New', Courier, monospace;
}

.general-rules-container {
  max-width: 500px;
}

#content {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-left: 4px;
  word-wrap: normal;
  line-height: 85%;
}

@media screen and (min-width: 1460px) {
  .creater-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  #content {
      width: 400px;
  }

  #title {
      width: 400px;
  }

  .flex-zone {
      display: flex;
      flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .flex-zone {
      display: flex;
      flex-direction: column;
  }

  .creater-container {
      display: flex;
      flex-direction: column-reverse;
  }
}